.Button {
  padding: 8px 16px;
  border-radius: 2px;
  background: linear-gradient(90deg, rgba(111,177,127,0.6) 0%, rgba(154,173,89,0.6) 100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: rgb(89, 89, 89);
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.Button:hover,
.Button:focus {
  background: linear-gradient(90deg, rgba(93, 159, 110, 0.6) 0%, rgba(190, 216, 106, 0.6) 100%);
  color: #6e6e6eab;
}