.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 365px) {
  .ImageGallery {
    max-width: calc(100vw - 59px);
    grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
  }
}

.errorMessage {
  display: flex;
  justify-content: center;
}